<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro || SoftMais</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/caminho/personalizacao.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light-fluid" style="background-color:paleturquoise" >
    <div class="container-fluid">
      <a class="navbar-brand" href="https://github.com/lcunha957/ProjetoEventos">Projeto Eventos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href= "/cadastrar">Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href= "/eventos">Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href= "/historico">Histórico</a>
          </li>
          <li class= "nav-item">
            <button class="btn-sm btn-outline-primary" type="submit" href= "/logout" style=" position:absolute; right: 0;">Sair do Sistema</button>
          </li>
        </ul>
     </div>
    </div>
  </nav>
    

        <br><h1> Cadastro de Usuários</h1><br><br>
        <header class="cabecalhoFundo"></header>
        <form action="/insertUsuarios" method="post">
          <input type="hidden" id="id" name="id" />
          <table width="30%">
          <tr>
            <td><label for="idUsuario">id do Usuário:</label></td>
            <td><input type="number" id="idUsuario" name="idusuario" required size="100" placeholder = "01" /></td>
          </tr>
          <tr>
            <td><label for="cpf_cnpj">CPF ou CPF do titular:</label></td>
            <td><input type="text" id="cpf_cnpj" name="cpf_cnpj" required size="100" placeholder= "33.481.718/0001-04" /></td>
          </tr>
          <tr>
            <td><label for="nome_completo">Nome completo do usuário:</label></td>
            <td><input type="text" id="nome_completo" name="nome_completo" required size="100" placeholder= "Francisca Clarice Sabrina Pereira" /></td>
          </tr>
          <tr>
            <td><label for="empresa_faculdade">Empresa ou Faculdade que atua:</label></td>
            <td><input type="text" id="empresa_faculdade" name="empresa_faculdade" required size="100" placeholder= "Colégio Técnico de Campinas" /></td>
          </tr>
             <tr>
            <td><label for="email">Email:</label></td>
            <td><input type="text" id="email" name="email" required size="100" placeholder = "seuemail@universidade.br" /></td>
          </tr>
          <tr>
            <td><label for="senha">Senha:</label></td>
            <td><input type="text" id="senha" name="senha" required size="100" placeholder = "asenha123@" /></td>
          </tr>
          </table>
          <br>
          <button type="submit" id = "btnInsercao2" class="btn btn-secondary btn-lg"> Logar no sistema </button>
      </form>
      <script src= "/src/app/views/jquery.js"></script>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
