<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início || SoftMais</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/caminho/personalizacao.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light  style="background-color: #e3f2fd;"">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Início</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Histórico</a>
        </li>
       </ul>
        <button class="btn btn-outline-success" type="submit">Sair do Sistema</button>
    </div>
  </div>
</nav>
        <h1>Sobre</h1>
        <h3>Sejam bem-vindos a nossa plataforma de treinamentos SoftMais</h3>
        <p>Somos uma empresa especializada em desenvolvimento de software e demais aplicações, 
          uma das referências no mercado em Campinas e região. Venham nos visitar!
          Solicite um orçamento gratuitamente, temos convênio com empresas e universidades para fornecer
          os melhores treinamentos para educação digital, no formato in-company. 
          Estamos localizados na Rua Argeo Piva, 783, Sala 51, Morumbi, Paulínia.
          Em caso de dúvidas, entre em contato com comercial@softmais.br
          Nosso horário de funcionamento é de segunda as sextas das 08h00min às 18h00min
         </p>
         <p> Projeto desenvolvido como desafio por Lunara Morena Cunha à empresa MBLabs.</p>
        
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
